<div  class="p-5 container w-50 text-center">
    <h1 class="mb-5">Add new Product</h1>
    <form (ngSubmit)="addProduct()" [formGroup]=" addForm" id="d" action="" class="container p-5 border bg-light">
        <input formControlName ="id" type="text" class="form-control mt-3 p-2" placeholder="id" name="pid" id="pid">
        <input formControlName ="productName" type="text" class="form-control mt-3 p-2" placeholder="Name" name="pn" id="pn">
        <input formControlName ="categoryId" type="text" class="form-control mt-3 p-2" placeholder="Category Id" name="pin1" id="pid9">
        <input formControlName ="descript" type="text" class="form-control mt-3 p-2" placeholder="Description" name="pin2" id="pid8">
        <input formControlName ="price" type="text" class="form-control mt-3 p-2" placeholder="Price" name="pin3" id="pid7">

        <input formControlName ="isAvailable" type="text" class="form-control mt-3 p-2" placeholder="Is Available True/False" name="pin4" id="pid8">
        <input formControlName ="productImage" type="text" class="form-control mt-3 p-2" placeholder="image url" name="pin48" id="pid69">
        <input formControlName ="rating"  type="text" class="form-control mt-3 p-2" placeholder="Rating" name="pin5" id="pid5">
        <input formControlName ="review"type="text" class="form-control mt-3 p-2" placeholder="Review" name="pin6" id="pid4">
        <button type="submit" class="btn btn-secondary p-2 mt-3">Add</button>
    </form>
</div>